body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
}

.sign-in-container{
    display: grid;
    padding: 5px;
    justify-items: center;
    background-color: white;
    border-radius: 7px;
    margin: 10% 30%;
    box-shadow: 0px 0px 5px 2px black;
}

#username-field{
    background-color: rgb(236, 232, 232);
    padding: 5px;
    border-radius: 13px; 
    margin: 5px;
    outline: none;
}

#password-field{
    background-color: rgb(236, 232, 232);
    padding: 5px;
    border-radius: 13px;
    margin: 5px;
    outline: none;
}

#login-button{
    border-radius: 13px;
    background-color: lightskyblue;
    margin: 8px 30%;   
    outline: none; 
}

#login-error-container{
    display: none;
}

/*These are for movielist*/
.banner{
    border: darkslategray solid;
}

.banner-head{
    text-align: center;
    font-size: 5em;
    color: rgb(68, 144, 214);
    text-shadow: 3px 3px 4px navy;
    margin-bottom: 0;
}

.sub-head{
    text-align: center;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 4px navy;
    font-style: italic;
    font-size: 2em;
}

.navigation-panel{
    position: fixed;
    top: 300px;
    left: 15px;
    width: 15%;
    height: 15%;
    background-color: lightcyan;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
.movie-list-container{
    display: grid;
    background-color: lightcyan;
    margin: 3% 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.list-header-container{
    display: grid;
    grid-template-columns: 150px auto 150px;
    background-color: darkcyan;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.list-header{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.list-header-container h2{
    text-align: center;
    color: burlywood;
}

.movie-entry{
    display: grid;
    grid-template-columns: 150px auto 150px;
    margin: 5px 15px 0px;
    border-bottom: thin solid black;
}


.title-container{
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
}

.title-container .movie-title{
    vertical-align: middle;
}

.movie-info{
    position: relative;
    top: 15%;
    text-align: center;
    font-size: medium;
    font-family: fantasy;
}


/*These are for watchedsomething*/
.search-container{
    text-align: center;
    margin: 3% 20%;
}

.search-result-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.search-result-entry{
    background-color: beige;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 5px 5px gray;
    align-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.add-button{
    margin-top: 15px;
}